@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(to right, theme("colors.primary"), theme("colors.primaryHover"));
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::selection {
	background: #99cff0; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #99cff0; /* Gecko Browsers */
}

.ProseMirror {
}

.ProseMirror > * + * {
	margin-top: 0.75em;
}

.ProseMirror ul {
	@apply list-disc pl-5 marker:text-stone-500;
}

.ProseMirror ol {
	@apply list-decimal pl-5 marker:text-stone-500;
}

.ProseMirror h1 {
	@apply text-xl;
}

.ProseMirror code {
	@apply p-1 rounded-md bg-gray-200 text-sm text-gray-600;
}

.ProseMirror pre {
	@apply bg-stone-500 m-1 p-1 pl-3 text-white font-mono text-sm border-stone-600 border-l-2;
}
.ProseMirror pre code {
	color: inherit;
	background: none;
}

.ProseMirror img {
	@apply max-w-full h-auto;
}

.ProseMirror blockquote {
	@apply bg-yellow-100 m-1 p-1 pl-3 border-primary border-l-2;
}
